@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root{
    --blanco : #FFFFFF;
    --celeste_claro : #e4f2fd;
    --azul: #7476ca;
    --p : #6d7f88;
    --fondo_login : #f1f1f1;
    --fondo_icons: #bcbcc0;
    --fondo_boton: #18a2b7;
}

html{
    position: relative;
    box-sizing: border-box;
    min-height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Estilo para la ventana modal */
#modal {
    background-color: rgba(0, 0, 0, 0.5);
}


.border-red-500 {
    border-color: #EF4444;
}

.text-red-500 {
    color: #EF4444;
    text-align: center;
}

/* Estilos personalizados para ocultar las flechas en el input numérico */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield; /* Para Firefox */
    }

